.wrapper
  .header
    .header__left
      よこい
    .header__center
      %li.list 
        = link_to lunch_web_index_path do
          弁当
      %li.list 夜のコース
      %li.list 昼定食
      %li.list 
        = link_to oseti_web_index_path do
          おせち
    .header__right
      %li.list
        = link_to new_review_path do
          review
  .body
  .footer
    .footer__left
      .footer__left__name
        レビュー
      .footer__left__review-box
        .footer__left__review-box__content
          - @comments.each do |comment|
            .footer__left__review-box__content__title
              %span 題名
              =comment.title
            .footer__left__review-box__content__text
              %p コメント
              =comment.text
            .footer__left__review-box__content__date
              %span 日付け
              %span #{("#{comment.year}" + "/" + "#{comment.month}" + "/" + "#{comment.day}")}
    .footer__right
  = render "web/footer"
